* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: #eee;

}

.root {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.projects {
	width: 100%;
	padding: 0 2em;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.project {
	padding: 1em;
	margin: .5em;
	border: 1px solid #8888;
	transition:
		background-color 500ms ease-in-out,
		border 500ms ease-in-out;
}

.meta {
	opacity: 0;
	transition: all 500ms ease-in-out;
	/* border-top: 1px solid black; */
	margin-bottom: .5em;
}

.project:hover .meta {
	opacity: 1;
	/* max-height: 5em; */
}

.project:hover {
	/* border-top: 1px solid black; */
	background: white;
	border: 1px solid #888;
}


.bar {
	z-index: 2;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 3em;
}

h4 {
	margin-top: .5em;
	font-weight: 100;
	font-family: ABC Oracle Unlicensed Trial;
	/* font-family: ABC ROM Condensed Unlicensed Trial; */
	font-size: 1em;
	margin-bottom: 1.5em;
}

.slideshow {
	left: 0;
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	display: flex;
	justify-content: center;
	/* background: black; */
	align-items: center;
	pointer-events: none;
}

.slideshow img,
.slideshow video {
	filter: grayscale(1) contrast(2) blur(2px);
	opacity: .5;
	width: 100%;
}

.about {
	z-index: 21;
	top: 1em;
	left: 1em;
	width: 100%;
	padding: 1em;
}

.project-list {
	font-family: sans-serif;
}

h3 {
	padding: 0 1em;
}

.img-container {
	width: 100%;
	background: white;
	filter: grayscale(1);
	/* height: 350px; */
	/* overflow: hidden; */
}

.img-container:hover {
	filter: grayscale(0);
}

.text-container {
	max-height: 80vh;
	max-width: 70ch;
}

.invisible {
	opacity: 0;
}

.invisible:hover {
	opacity: 1;
}

.boxed {
	position: relative;
	width: 250px;
	height: 60px;
	padding: 1em;
	border: 1px solid black;
	border: 1px solid #888;
	background: white;
	font-size: .8em;
}

.box {
	width: 12px;
	height: 12px;
	background: white;
	border: 1px solid black;
	border: 1px solid #888;
}

.medium {
	width: 40px;
}

.medium:hover {
	width: 600px;
}

img,
video {
	width: 100%;
	/* max-height: 100%; */
}

@media only screen and (max-width: 700px) {
	.root {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}

	.ignore {
		width: 100vw;
		height: auto;
		overflow-y: initial;
	}

	.about {
		width: 100vw;
	}

	.ignore img,
	.ignore video {
		max-height: 80vh;
		max-width: 90vw;
	}
}
