* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	scrollbar-color: black #fff0;
}

body {
	font-family: sans-serif;
	background: #eee;

}

p {
	line-height: 1.3em;
	margin-bottom: .4em;
}

a {
	color: black;
	text-transform: uppercase;
	font-family: hermit;
	font-size: .8em;
}

.root {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	padding: 0 2em;
}

.projects {
	width: 100%;
	height: 100%;
	display: grid;
	margin-left: -1em;
}

.page {
	position: fixed;
	right: 1em;
	top: 1em;
	background: white;
	transition: all 500ms;
	width: 70vw;
}

.page[open='false'] {
	height: 0;
	pointer-events: none;
	overflow: hidden;
	border: 0px solid #fff0;
}

.page[open='true'] {
	pointer-events: auto;
	overflow-y: scroll;
	padding: 1em;
	border: 1px solid black;
	height: calc(100vh - 2em);
	box-shadow: 0 0 50px 55px rgba(0, 0, 0, .1);
}

.projects[size='xs'] {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.projects[size='s'] {
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.projects[size='m'] {
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.projects[size='l'] {
	grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
}

.projects[size='xl'] {
	grid-template-columns: 100%;
}


.project {
	padding: .8em;
	margin: .5em;
	border: 1px solid #8880;
	display: grid;
	grid-template-rows: 55px auto;
	/* border-top: 1px solid #8888; */
	transition:
		background-color 500ms ease-in-out,
		border 500ms ease-in-out;
}

.projects[size='xl'] .project {
	display: flex;
	overflow-x: scroll;
	height: 405px;
	border-top: 1px solid #2228;
}

.projects[size='xl'] .project .meta {
	opacity: 1;
	min-width: 300px;
	border-bottom: none;
}

.projects[size='xl'] .project .img-container {
	width: auto;
	height: 350px;
	margin-right: 1em;
}

.projects[size='xl'] .project .img-container img,
.projects[size='xl'] .project .img-container video {
	width: auto;
	height: 100%;
}

.meta {
	opacity: 0.2;
	/* color: #2228; */
	transition: all 500ms ease-in-out;
	border-bottom: 1px solid black;
	margin-bottom: .5em;
}

.project:hover .meta {
	opacity: 1;
}

.project:hover .img-container {
	filter: grayscale(0);
}

.project:hover {
	/* border-top: 1px solid black; */
	background: white;
	/* border: 1px solid #888; */
}


.bar {
	z-index: 2;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin: 3em;
}

h4 {
	margin-top: .5em;
	font-weight: 100;
	font-family: hermit;
	/* font-family: ABC ROM Condensed Unlicensed Trial; */
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: .03em;
	margin-bottom: 1.5em;
}

.slideshow {
	left: 0;
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	display: flex;
	justify-content: center;
	/* background: black; */
	align-items: center;
	pointer-events: none;
}

.slideshow img,
.slideshow video {
	filter: grayscale(1) contrast(2) blur(10px);
	/* opacity: .5; */
	width: 100%;
}

.about {
	z-index: 2;
	width: 100vw;
	height: 50px;
	margin: 3em .5em 4em .5em;
	display: grid;
	grid-template-columns: 66% 20%;
}

button {
	border-radius: 0;
	padding: .5em;
	border: 1px solid #8888;
	background: #fff0;
	margin-right: .5em;
}

button:hover {
	background: black;
	color: white;
}

button[active='true'] {
	background: black;
	color: white;
}

.buttons {
	margin: .5em;
}

h3 {
	padding: 0 1em;
}

.img-container {
	width: 100%;
	height: min-content;
	/* filter: grayscale(1); */
	/* border: 1px solid black; */
	/* height: 350px; */
	/* overflow: hidden; */
}

.img-container:hover {
	filter: grayscale(0);
}

.text-container {
	width: 400px;
	min-width: 400px;
	padding: 0 1em;
	height: min-content;
	margin-right: 1em;
}

.invisible {
	opacity: 0;
}

.invisible:hover {
	opacity: 1;
}

.boxed {
	position: relative;
	width: 250px;
	height: 60px;
	padding: 1em;
	border: 1px solid black;
	border: 1px solid #888;
	background: white;
	font-size: .8em;
}

.box {
	width: 10px;
	height: 10px;
	background: white;
	border: 1px solid black;
	border: 1px solid #888;
}

.medium {
	width: 40px;
}

.medium:hover {
	width: 600px;
}

img,
video {
	width: 100%;
	border: 1px solid black;
	/* height: 100%; */
	/* max-height: 100%; */
}

@media only screen and (max-width: 700px) {
	.root {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}

	.ignore {
		width: 100vw;
		height: auto;
		overflow-y: initial;
	}

	.about {
		width: 100vw;
	}

	.ignore img,
	.ignore video {
		max-height: 80vh;
		max-width: 90vw;
	}
}
